.bottom-menu {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  gap: 3rem;
  padding-bottom: 1rem;
  user-select: none;
  text-align: center;
  color: #b1b1b1;
  transition: gap 200ms ease;
}

.bottom-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: 100ms all;
  &:hover {
    scale: 1.2;
    color: #f3f3f3;
  }
}

.views {
  padding-bottom: 1.2rem;
}

.view-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

input[type='radio'] {
  transition: scale 100ms ease;
  &:hover {
    scale: 1.8;
  }
  scale: 1.5;
}

@media screen and (max-width: 800px) {
  .bottom-menu {
    justify-content: center;
    gap: 1rem;
  }
}

/*sidebar options for < 1560px */

@media screen and (max-width: 1520px) {
  .container-bottom-menu-narrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 1rem 1rem 0;
    transform-origin: left;
    user-select: none;
  }

  .bottomMenu-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.4rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
    color: #ffffff;
    border-radius: 7px;
    &:hover,
    &.active {
      background-color: rgba(177, 177, 177, 0.3);
    }
  }

  .side-options {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }

  .side-option-icon {
    cursor: pointer;
    font-size: 2rem;
    transition: scale 0.2s linear;
    
    &:hover{
      color: #b1b1b1;
    }
  }

  .relative-views {
    position: absolute;
    user-select: none;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b1b1b1;
    transition: margin 0.2s linear;
    font-size: 1.1rem;
  }
}

/* QUALITY SETTINGS */

.settings {
  position: relative;
}

.quality-settings,
.quality-side {
  position: absolute;
  backdrop-filter: blur(5px);
  top: -120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  color: #f3f3f3;
  transform-origin: bottom;
}

/* NARROW QUALITY SETTINGS */
.quality-side {
  top:0;
  left: 117px;
  border-radius: 0 1rem 1rem 0;
  backdrop-filter: blur(0);
  transform-origin: left;
}
/*  */


.quality-options {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 300;
}

.quality-options {
  cursor: pointer;
}

.low:hover,
.medium:hover,
.high:hover {
  color: #b1b1b1;
}
