.img {
  overflow: hidden;
  position: relative;
}

.options-section {
  display: flex;
  flex-direction: column;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.options-container .scrollY {
  overflow: hidden auto;
}

.option-style {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
}

.side-options-icon {
  cursor: pointer;
}

.tooltip-container {
  font-size: 1.1rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  cursor: default;
  text-align: left;
  width: 315px;
  z-index: 190;
  top: 30px;
  right: -110px;
  padding: 1rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  border-radius: 9px;
  animation: tooltipAnimate 300ms ease-out;
}

@keyframes tooltipAnimate {
  0% {
    scale: 0;
    opacity: 0;
  }

  50% {
    scale: 1.15;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.option,
.ballstop-option,
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: border-color 0.2s linear;
}

.ballstop-option img,
.option-rim img,
.turret-list li img,
.ballstop-option img {
  transition: all 0.1s linear;
}

.ballstop-option img:hover,
.option-rim img:hover,
.turret-list li img:hover,
.ballstop-option img:hover {
  opacity: 0.8;
}

.option-name {
  font-weight: 300;
  font-size: 1.2rem;
}

.option-img {
  height: 150px;
  max-width: 100%;
  border-radius: 1rem;
}

.option-img-rim {
  height: 100px;
  width: 400px;
  max-width: 100%;
  border-radius: 1rem;
}

.option-rim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 1rem;
  transition: all 0.1s ease;
  border: 1px solid transparent;
}

.option-rim.active {
  border-color: #000;
}

/* TURRETS */

.turret-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.turret-list li {
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
  border-radius: 15px;
}

.turret-list li img {
  border: 1px solid transparent;
  padding: 0.2rem;
}

.turret-list img.active {
  border-color: #000;
}

.turret-img {
  width: 100%;
  height: 160px;
  border-radius: 15px;
}

/* BALLSTOPS */

.select-ballstop-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.ballstop-option {
  border: 1px solid transparent;
  border-radius: 1rem;
  margin: 0.5rem;
  transition: all 0.2s ease;
}

.ballstop-option.active {
  border-color: #000;
}

.ballstop-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeebeb;
  max-width: max-content;
  font-size: 1.1rem;
  cursor: pointer;
  color: #000;
}

/* INDEX (SAVE) MENU */

.not-selected-text {
  padding: 2rem;
  font-weight: 400;
}

.index-page {
  display: flex;
}

.index-section {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.index-container {
  width: 395px;
  padding: 0;
  margin: 0.3rem 0;
  font-size: 0.9rem;
  cursor: auto;
}

.chosen-option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

.chosen-img {
  width: 60%;
  height: 65px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
}

.chosen-img.Turrets {
  width: 100px;
  height: 100px;
}

.save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  margin: auto 0;
}

.save-text {
  font-weight: 600;
}

.index-btn {
  margin: 0.5rem;
  display: inline-block;
  padding: 0.4rem 2rem;
  outline: none;
  color: #444343;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 1px 0 0 #000;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:active {
    scale: 0.99;
    box-shadow: none;
  }
}

/* NUMBERS */
.options-container-numbers {
  /* width: 400px; */
}
