:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100dvh;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/LATO-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/LATO-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/LATO-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/LATO-SEMIBOLD.TTF') format('truetype');
  font-weight: 600;
  font-display: swap;
}
