@media screen and (width < 1520px) {
  .sideMenu {
    width: 100%;
    min-height: 235px;
    flex-direction: column;
    overflow: hidden;
    scrollbar-gutter: unset;
    transform-origin: top;
  }

  .sideMenu .scrollY {
    overflow: hidden;
  }

  .divider {
    height: 100%;
    width: 0;
  }

  ::-webkit-scrollbar {
    height: 7px;
  }

  .menuHeader {
    flex-direction: column;
    margin: 0;
  }

  .options-section {
    height: 100%;
    overflow: hidden;
    padding: 0.5rem 0;
    &.scrollX {
      overflow: auto hidden;
    }

    & .options-container {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      height: 100%;

      & .turret-list {
        flex-wrap: nowrap;

        & li {
          margin: 0 0.5rem;
          padding: 0;
        }

        & .turret-img {
          height: 90px;
          width: 90px;
          padding: 0.1rem;
        }
      }

      & .style-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        & .option-list {
          display: flex;

          & .ballstop-option {
            margin: 0;
          }
        }
      }
    }

    & .option {
      padding: 0.5rem 0;

      & .option-rim {
        margin-right: 0.3rem;
      }
    }

    & .option-style {
      gap: 0.5rem;
      margin-bottom: 0.3rem;
    }

    & .option-img {
      height: 100px;
      max-width: max-content;
    }
  }

  .tooltip-container {
    display: flex;
    align-items: center;
    justify-content: center;

    & .tooltip {
      padding: 0.5rem;
      right: -100px;
    }
  }

  .options-section .options-container-numbers {
  }

  .ballstop-option {
    padding: 0.5rem;
    & .ballstop {
      height: 80px;
    }
  }

  section.index-section {
    min-width: 1361px;
    flex-direction: row;

    & .divider-index {
      height: 200px;
    }

    & .chosen-option-list {
      display: flex;
      flex-direction: row;

      & li {
        display: flex;
        align-items: center;

        & .chosen-option {
          padding: 1.1rem;

          & .BallStops,
          & .Centre,
          & .BallTracks,
          & .Rims {
            width: 160px;
          }
        }

        & .Rims {
          width: 160px;
        }
      }
    }
  }

  .index-page {
    overflow: hidden;
  }

  .index-page.scrollX {
    overflow: auto hidden;
  }
}
